<div class="modal-header">
  <h3 class="modal-title custom-font">{{modal.modalTitle}}</h3>
</div>
<div class="modal-body">

  <p>This sure is a fine modal, isn't it?</p>

  <ul>
    <li ng-repeat="item in modal.items">
      <a ng-click="modal.selected.item = item">{{ item }}</a>
    </li>
  </ul>

  Selected: <b>{{ modal.selected.item }}</b>

</div>
<div class="modal-footer">
  <button class="btn btn-default btn-border" ng-click="modal.ok()">Submit</button>
  <button class="btn btn-default btn-border" ng-click="modal.cancel()">Cancel</button>
</div>