<div class="page page-ui pull-to-header">



  <ol class="breadcrumb bg-white">
    <li><a ui-sref="dashboard">Home</a></li>
    <li><a href="javascript:;">UI Kit</a></li>
    <li class="active">Lists</li>
  </ol>


  <!-- row -->
  <div class="row">


    <!-- col -->
    <div class="col-md-12">

      <!-- tile -->
      <div class="tile">

        <!-- tile header -->
        <section class="tile-header">
          <h1 class="heading">Predefined Lists</h1>
          <div class="controls">
            <div class="btn-group" uib-dropdown>
              <button class="btn btn-transparent" uib-dropdown-toggle><i class="fa fa-cog"></i></button>
              <ul class="dropdown-menu dropdown-menu-custom" uib-dropdown-menu role="menu">
                <li role="menuitem"><a href="javascript:;" minotaur-tile-minimize></a></li>
                <li role="menuitem"><a href="javascript:;" minotaur-tile-refresh></a></li>
                <li role="menuitem"><a href="javascript:;" minotaur-tile-fullscreen></a></li>
                <li role="menuitem"><a href="javascript:;" minotaur-tile-lightbox></a></li>
              </ul>
            </div>
            <minotaur-tile-close></minotaur-tile-close>
          </div>
        </section>
        <!-- /tile header -->

        <!-- tile body -->
        <section class="tile-body">
          <div class="row">

            <div class="col-md-3 col-sm-6">
              <p class="text-small text-strong text-uppercase">Ordered List</p>
              <ol>
                <li>List item</li>
                <li>List item</li>
                <li>List item</li>
                <li>List item</li>
                <li>List item</li>
              </ol>
            </div>

            <div class="col-md-3 col-sm-6">
              <p class="text-small text-strong text-uppercase custom-font">Unordered List</p>
              <ul>
                <li>List item</li>
                <li>List item</li>
                <li>List item</li>
                <li>List item</li>
                <li>List item</li>
              </ul>
            </div>

            <div class="col-md-3 col-sm-6">
              <p class="text-small text-strong text-uppercase custom-font">Unstyled List</p>
              <ul class="list-unstyled">
                <li>List item</li>
                <li>List item
                  <ul>
                    <li>List item</li>
                    <li>List item</li>
                  </ul>
                </li>
                <li>List item</li>
              </ul>
            </div>

            <div class="col-md-3 col-sm-6">
              <p class="text-small text-strong text-uppercase custom-font">Inline List</p>
              <ul class="list-inline">
                <li>List item</li>
                <li>List item</li>
                <li>List item</li>
              </ul>
            </div>

          </div>
        </section>
        <!-- /tile body -->

      </div>
      <!-- /tile -->



      <!-- tile -->
      <div class="tile">

        <!-- tile header -->
        <section class="tile-header">
          <h1 class="heading">Custom Lists <span class="note"><strong>ul</strong> with class <em>list-type arrow/circle/check/caret</em></span></h1>
          <div class="controls">
            <div class="btn-group" uib-dropdown>
              <button class="btn btn-transparent" uib-dropdown-toggle><i class="fa fa-cog"></i></button>
              <ul class="dropdown-menu dropdown-menu-custom" uib-dropdown-menu role="menu">
                <li role="menuitem"><a href="javascript:;" minotaur-tile-minimize></a></li>
                <li role="menuitem"><a href="javascript:;" minotaur-tile-refresh></a></li>
                <li role="menuitem"><a href="javascript:;" minotaur-tile-fullscreen></a></li>
                <li role="menuitem"><a href="javascript:;" minotaur-tile-lightbox></a></li>
              </ul>
            </div>
            <minotaur-tile-close></minotaur-tile-close>
          </div>
        </section>
        <!-- /tile header -->

        <!-- tile body -->
        <section class="tile-body">

          <div class="row">

            <div class="col-md-3 col-sm-6">
              <p class="text-small text-strong text-uppercase">List type arrow</p>
              <ul class="list-type arrow">
                <li>List item</li>
                <li>List item</li>
                <li>List item</li>
                <li>List item</li>
                <li>List item</li>
              </ul>
            </div>

            <div class="col-md-3 col-sm-6">
              <p class="text-small text-strong text-uppercase">List type circle</p>
              <ul class="list-type circle">
                <li>List item</li>
                <li>List item</li>
                <li>List item</li>
                <li>List item</li>
                <li>List item</li>
              </ul>
            </div>

            <div class="col-md-3 col-sm-6">
              <p class="text-small text-strong text-uppercase">List type check</p>
              <ul class="list-type check">
                <li>List item</li>
                <li>List item</li>
                <li>List item</li>
                <li>List item</li>
                <li>List item</li>
              </ul>
            </div>

            <div class="col-md-3 col-sm-6">
              <p class="text-small text-strong text-uppercase">List type caret-right</p>
              <ul class="list-type caret-right">
                <li>List item</li>
                <li>List item</li>
                <li>List item</li>
                <li>List item</li>
                <li>List item</li>
              </ul>
            </div>

          </div>

        </section>
        <!-- /tile body -->

      </div>
      <!-- /tile -->



      <!-- tile -->
      <div class="tile">

        <!-- tile header -->
        <section class="tile-header">
          <h1 class="heading">Custom Lists <span class="note"><strong>ul</strong> with class <em>fa-ul</em></span></h1>
          <div class="controls">
            <div class="btn-group" uib-dropdown>
              <button class="btn btn-transparent" uib-dropdown-toggle><i class="fa fa-cog"></i></button>
              <ul class="dropdown-menu dropdown-menu-custom" uib-dropdown-menu role="menu">
                <li role="menuitem"><a href="javascript:;" minotaur-tile-minimize></a></li>
                <li role="menuitem"><a href="javascript:;" minotaur-tile-refresh></a></li>
                <li role="menuitem"><a href="javascript:;" minotaur-tile-fullscreen></a></li>
                <li role="menuitem"><a href="javascript:;" minotaur-tile-lightbox></a></li>
              </ul>
            </div>
            <minotaur-tile-close></minotaur-tile-close>
          </div>
        </section>
        <!-- /tile header -->

        <!-- tile body -->
        <section class="tile-body">
          <div class="row">

            <div class="col-md-3 col-sm-6">
              <p class="text-small text-strong text-uppercase">List type check</p>
              <ul class="fa-ul">
                <li><i class="fa-li fa fa-check-square"></i>List item</li>
                <li><i class="fa-li fa fa-check-square"></i>List item
                  <ul class="fa-ul">
                    <li><i class="fa-li fa fa-check-square"></i>List item</li>
                    <li><i class="fa-li fa fa-check-square"></i>List item</li>
                    <li><i class="fa-li fa fa-check-square"></i>List item</li>
                  </ul>
                </li>
                <li><i class="fa-li fa fa-check-square"></i>List item</li>
              </ul>
            </div>

            <div class="col-md-3 col-sm-6">
              <p class="text-small text-strong text-uppercase">List type spinner</p>
              <ul class="fa-ul">
                <li><i class="fa-li fa fa-spinner fa-spin"></i>List item</li>
                <li><i class="fa-li fa fa-spinner fa-spin"></i>List item
                  <ul class="fa-ul">
                    <li><i class="fa-li fa fa-spinner fa-spin"></i>List item</li>
                    <li><i class="fa-li fa fa-spinner fa-spin"></i>List item</li>
                    <li><i class="fa-li fa fa-spinner fa-spin"></i>List item</li>
                  </ul>
                </li>
                <li><i class="fa-li fa fa-spinner fa-spin"></i>List item</li>
              </ul>
            </div>

            <div class="col-md-3 col-sm-6">
              <p class="text-small text-strong text-uppercase">List type square</p>
              <ul class="fa-ul">
                <li><i class="fa-li fa fa-square"></i>List item</li>
                <li><i class="fa-li fa fa-square"></i>List item
                  <ul class="fa-ul">
                    <li><i class="fa-li fa fa-square"></i>List item</li>
                    <li><i class="fa-li fa fa-square"></i>List item</li>
                    <li><i class="fa-li fa fa-square"></i>List item</li>
                  </ul>
                </li>
                <li><i class="fa-li fa fa-square"></i>List item</li>
              </ul>
            </div>

            <div class="col-md-3 col-sm-6">
              <p class="text-small text-strong text-uppercase">List type cross</p>
              <ul class="fa-ul">
                <li><i class="fa-li fa fa-times"></i>List item</li>
                <li><i class="fa-li fa fa-times"></i>List item
                  <ul class="fa-ul">
                    <li><i class="fa-li fa fa-times"></i>List item</li>
                    <li><i class="fa-li fa fa-times"></i>List item</li>
                    <li><i class="fa-li fa fa-times"></i>List item</li>
                  </ul>
                </li>
                <li><i class="fa-li fa fa-times"></i>List item</li>
              </ul>
            </div>

          </div>
        </section>
        <!-- /tile body -->

      </div>
      <!-- /tile -->



      <!-- tile -->
      <div class="tile">

        <!-- tile header -->
        <section class="tile-header">
          <h1 class="heading">List Groups</h1>
          <div class="controls">
            <div class="btn-group" uib-dropdown>
              <button class="btn btn-transparent" uib-dropdown-toggle><i class="fa fa-cog"></i></button>
              <ul class="dropdown-menu dropdown-menu-custom" uib-dropdown-menu role="menu">
                <li role="menuitem"><a href="javascript:;" minotaur-tile-minimize></a></li>
                <li role="menuitem"><a href="javascript:;" minotaur-tile-refresh></a></li>
                <li role="menuitem"><a href="javascript:;" minotaur-tile-fullscreen></a></li>
                <li role="menuitem"><a href="javascript:;" minotaur-tile-lightbox></a></li>
              </ul>
            </div>
            <minotaur-tile-close></minotaur-tile-close>
          </div>
        </section>
        <!-- /tile header -->

        <!-- tile body -->
        <section class="tile-body">
          <div class="row">

            <div class="col-lg-3 col-md-6">

              <h4>Basic example</h4>

              <ul class="list-group">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Morbi leo risus</li>
                <li class="list-group-item">Porta ac consectetur ac</li>
                <li class="list-group-item">Vestibulum at eros</li>
              </ul>

            </div>

            <div class="col-lg-3 col-md-6">

              <h4>Badges example</h4>

              <ul class="list-group">
                <li class="list-group-item"><span class="badge bg-red">14</span> Cras justo odio</li>
                <li class="list-group-item"><span class="badge bg-cyan">12</span> Dapibus ac facilisis in</li>
                <li class="list-group-item"><span class="badge bg-greensea">26</span> Morbi leo risus</li>
                <li class="list-group-item"><span class="badge bg-hotpink">19</span> Porta ac consectetur ac</li>
                <li class="list-group-item"><span class="badge bg-green">36</span> Vestibulum at eros</li>
              </ul>

            </div>

            <div class="col-lg-3 col-md-6">

              <h4>Custom classes example</h4>

              <div class="list-group">
                <a href="#" class="list-group-item active">
                  Linked Item
                </a>
                <a href="#" class="list-group-item disabled">Disabled Item</a>
                <a href="#" class="list-group-item list-group-item-success">Contextual Class</a>
                <a href="#" class="list-group-item">Porta ac consectetur ac</a>
                <a href="#" class="list-group-item">Vestibulum at eros</a>
              </div>

            </div>

            <div class="col-lg-3 col-md-6">

              <h4>Custom content example</h4>

              <div class="list-group">
                <a href="#" class="list-group-item active">
                  <h4 class="list-group-item-heading custom-font text-strong">List group item heading</h4>
                  <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                </a>
                <a href="#" class="list-group-item">
                  <h4 class="list-group-item-heading custom-font text-strong">List group item heading</h4>
                  <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                </a>
                <a href="#" class="list-group-item">
                  <h4 class="list-group-item-heading custom-font text-strong">List group item heading</h4>
                  <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                </a>
              </div>

            </div>


          </div>
        </section>
        <!-- /tile body -->

      </div>
      <!-- /tile -->



    </div>
    <!-- /col -->


  </div>
  <!-- /row -->


  <!-- row -->
  <div class="row">


    <!-- col -->
    <div class="col-md-6">


      <!-- tile -->
      <div class="tile">

        <!-- tile header -->
        <section class="tile-header">
          <h1 class="heading">Nestable List 1</h1>
          <div class="controls">
            <div class="btn-group" uib-dropdown>
              <button class="btn btn-transparent" uib-dropdown-toggle><i class="fa fa-cog"></i></button>
              <ul class="dropdown-menu dropdown-menu-custom" uib-dropdown-menu role="menu">
                <li role="menuitem"><a href="javascript:;" minotaur-tile-minimize></a></li>
                <li role="menuitem"><a href="javascript:;" minotaur-tile-refresh></a></li>
                <li role="menuitem"><a href="javascript:;" minotaur-tile-fullscreen></a></li>
                <li role="menuitem"><a href="javascript:;" minotaur-tile-lightbox></a></li>
              </ul>
            </div>
            <minotaur-tile-close></minotaur-tile-close>
          </div>
        </section>
        <!-- /tile header -->

        <!-- tile body -->
        <section class="tile-body">

          <button type="button" class="btn btn-sm btn-warning minotaur-btn mb-20" ng-click="ui.collapseAll($event)">Collapse all</button>
          <button type="button" class="btn btn-sm btn-info minotaur-btn mb-20" ng-click="ui.expandAll($event)">Expand all</button>

          <div class="clearfix"></div>

          <!-- Nested list template -->
          <script type="text/ng-template" id="items_renderer.html">
            <div ui-tree-handle class="tree-node">
              <a class="btn" data-nodrag ng-click="ui.toggle(this)"><i class="fa fa-angle-down" ng-class="{'fa-angle-right': collapsed, 'fa-angle-down': !collapsed}"></i></a>
              {{item.title}}
              <a class="pull-right btn remove" data-nodrag ng-click="remove(this)"><i class="fa fa-times"></i></a>
              <a class="pull-right btn add" data-nodrag ng-click="newSubItem(this)"><i class="fa fa-plus"></i></a>
            </div>
            <ol ui-tree-nodes="options" ng-model="item.items" ng-class="{hidden: collapsed}">
              <li ng-repeat="item in item.items" ui-tree-node ng-include="'items_renderer.html'"></li>
            </ol>
          </script>

          <div ui-tree="ui.options" id="tree-root">
            <ol ui-tree-nodes ng-model="ui.list">
              <li ng-repeat="item in ui.list" ui-tree-node ng-include="'items_renderer.html'"></li>
            </ol>
          </div>

          <h4 class="custom-font"><strong>Full</strong> tree</h4>
          <pre class="code">{{ ui.list }}</pre>

        </section>
        <!-- /tile body -->

      </div>
      <!-- /tile -->



    </div>
    <!-- /col -->


    <!-- col -->
    <div class="col-md-6">


      <!-- tile -->
      <div class="tile">

        <!-- tile header -->
        <section class="tile-header">
          <h1 class="heading">Nestable List 2</h1>
          <div class="controls">
            <div class="btn-group" uib-dropdown>
              <button class="btn btn-transparent" uib-dropdown-toggle><i class="fa fa-cog"></i></button>
              <ul class="dropdown-menu dropdown-menu-custom" uib-dropdown-menu role="menu">
                <li role="menuitem"><a href="javascript:;" minotaur-tile-minimize></a></li>
                <li role="menuitem"><a href="javascript:;" minotaur-tile-refresh></a></li>
                <li role="menuitem"><a href="javascript:;" minotaur-tile-fullscreen></a></li>
                <li role="menuitem"><a href="javascript:;" minotaur-tile-lightbox></a></li>
              </ul>
            </div>
            <minotaur-tile-close></minotaur-tile-close>
          </div>
        </section>
        <!-- /tile header -->

        <!-- tile body -->
        <section class="tile-body">

          <button type="button" class="btn btn-sm btn-warning minotaur-btn mb-20" ng-click="ui.collapseAll($event)">Collapse all</button>
          <button type="button" class="btn btn-sm btn-info minotaur-btn mb-20" ng-click="ui.expandAll($event)">Expand all</button>

          <!-- Nested list template -->
          <script type="text/ng-template" id="items_renderer2.html">
            <div class="tree-node" ng-show="!item.editing">
              <div class="pull-left tree-handle" ui-tree-handle>
                <i class="fa fa-list"></i>
              </div>
              <div class="tree-node-content">
                <a class="btn" data-nodrag ng-click="toggle(this)"><i class="fa fa-angle-down" ng-class="{'fa-angle-right': collapsed, 'fa-angle-down': !collapsed}"></i></a>
                {{item.title}}
                <a class="pull-right btn remove" data-nodrag ng-click="ui.remove(this)"><i class="fa fa-times"></i></a>
                <a class="pull-right btn add" data-nodrag ng-click="ui.newSubItem(this)"><i class="fa fa-plus"></i></a>
                <a class="pull-right btn edit" data-nodrag ng-click="ui.editItem(item)"><i class="fa fa-edit"></i></a>
              </div>
            </div>
            <div class="tree-node" data-nodrag ng-show="item.editing">
              <form class="form-inline" role="form">
                <div class="form-group">
                  <label class="sr-only" for="itemTitle">Item title</label>
                  <input type="text" class="form-control input-sm" placeholder="Item title" ng-model="item.title" id="itemTitle">
                </div>
                <button class="btn btn-default btn-sm" ng-click="ui.saveItem(item)">Save</button>
                <button class="btn btn-default btn-sm" ng-click="ui.cancelItem(item)">Cancel</button>
              </form>
            </div>
            <ol ui-tree-nodes="" ng-model="item.items" ng-class="{hidden: collapsed}">
              <li ng-repeat="item in item.items" ui-tree-node ng-include="'items_renderer2.html'"></li>
            </ol>
          </script>

          <div ui-tree>
            <ol ui-tree-nodes="" ng-model="ui.list2">
              <li ng-repeat="item in ui.list2" ui-tree-node ng-include="'items_renderer2.html'"></li>
            </ol>
          </div>

          <h4 class="custom-font"><strong>Full</strong> tree</h4>
          <pre class="code">{{ ui.list2 }}</pre>

        </section>
        <!-- /tile body -->

      </div>
      <!-- /tile -->


    </div>
    <!-- /col -->


  </div>
  <!-- /row -->



</div>
