<ol class="breadcrumb bg-white" ng-hide="!plan.seleccionadoTipo">
  <li><a ui-sref="dashboard">Inicio</a></li>
  <li><a ng-click='changeViewPlan(false);changeViewConsulta(true,3);' >Consulta</a></li>
  <li class="active">Plan Alimentario</li>
</ol>

<div class="row" ng-if="!plan.seleccionadoTipo">
  <div class="col-lg-12 col-md-12"> 
    <div class="tile">
      <!-- tile header -->
      <section class="tile-header" >
        <h1 class="heading col-lg-8 col-md-8 col-sm-12 mb-10">Selecciona el Tipo de plan</h1>         
        <div class="col-lg-4 col-md-4 mb-10 col-sm-12">
          <!-- <div class="pull-right">
            <button type="button" class="btn btn-warning" ng-click='changeViewPlan(false);'>Cancelar</button>
          </div> -->
        </div>        
      </section>
      <!-- /tile header -->
      <section class="tile-body col-lg-12 col-md-12" >
        <div class="col-lg-12 col-md-12">
          <div class="row">
            <div class="col-sm-6 col-xs-12">
              <div class="item-plan plan1" ng-click="plan.seleccionaTipo('simple');changeViewConsulta(false);">
                <label class="control-label minotaur-label">Plan simple</label>
                <div class="">
                  <img src="">
                </div>
                <div class="descripcion-plan">                
                  Crea un plan desde cero, escribe lo que quieras en cada dia de la semana.
                </div>
              </div>                            
            </div>
            <div class="col-sm-6 col-xs-12">
              <div class="item-plan plan2" ng-click="plan.seleccionaTipo('compuesto');changeViewConsulta(false);">
              <label class="control-label minotaur-label">Plan compuesto</label>
              <div class="">
                <img src="">
              </div>
              <div class="descripcion-plan">                
                Genera un plan con ayuda de la gran base de alimentos y platos con valoracion nutricional
              </div>
              </div>
            </div>
          </div>          
        </div>
        <!-- /right side body -->
      </section>
    </div>    
   </div>
</div>  

<div class="row" ng-show="plan.seleccionadoTipo">
  <div class="col-lg-12 col-md-12">
    <div class="tile">
      <section class="tile-header" >
        <h1 class="heading col-lg-6 col-md-6 col-sm-12 mb-10">Ingrese los alimentos</h1>         
        <div class="col-lg-6 col-md-6 mb-10 col-sm-12">
          <div class="row">
            <button type="button" class="btn btn-success" style="float:right;"
                ng-click="plan.btnGuardarPlan()"                      
                    ng-disabled="formDiagnostico.$invalid">Finalizar
            </button>

            <button type="button" class="btn btn-warning col-lg-3 mr-15" style="float:right;width:100px;"
                    ng-click='changeViewPlan(false);changeViewConsulta(true,3);'>Cancelar
            </button>

            <div class="btn-group col-lg-4" style="float:right;">
              <label class="btn btn-default" ng-model="plan.formaPlan" uib-btn-radio="'dia'">Por dia</label>
              <label class="btn btn-default" ng-model="plan.formaPlan" uib-btn-radio="'general'">General</label>
            </div>            
          </div>
        </div>        
      </section>
      <section class="tile-body">
        <uib-tabset class="minotaur-tab minotaur-tab-theme mb-10 mt-20" justified="true" ng-if="plan.formaPlan == 'dia'">
          <uib-tab heading="{{dia.nombre_dia}}" ng-repeat="(indexDia, dia) in plan.dias" >
            <div ng-if="plan.tipoPlan == 'simple'" ng-include="'app/pages/plan-alimentario/plan-simple-template.html'"></div>
            <div ng-if="plan.tipoPlan == 'compuesto'" ng-include="'app/pages/plan-alimentario/plan-compuesto-template.html'"></div>
          </uib-tab>
        </uib-tabset>

        <uib-tabset class="minotaur-tab minotaur-tab-theme mb-10 mt-20" justified="true" ng-if="plan.formaPlan == 'general'">
          <uib-tab heading="GENERAL" >
            <div ng-if="plan.tipoPlan == 'simple'" ng-include="'app/pages/plan-alimentario/plan-simple-template.html'"></div>
            <div ng-if="plan.tipoPlan == 'compuesto'" ng-include="'app/pages/plan-alimentario/plan-compuesto-template.html'"></div>
          </uib-tab>
        </uib-tabset>
      </section>
      <section class="tile-footer">
        <div class="mb-20 col-sm-12">
            <button type="button" class="btn btn-success" style="float:right;"
                ng-click="plan.btnGuardarPlan()"                      
                    ng-disabled="formDiagnostico.$invalid">Finalizar
            </button>

            <button type="button" class="btn btn-warning col-lg-3 mr-15" style="float:right;width:100px;"
                    ng-click='changeViewPlan(false);changeViewConsulta(true,3);'>Cancelar
            </button>
        </div>            
      </section>
    </div>
  </div>
</div>

