/*
	AQUÍ IRÁ EL CÓDIGO CSS PERSONALIZADO
	Antes de crear algún estilo, verificar que no haya uno con la misma funcionalidad en el tema.
*/
/* CUSTOM by Ruben Guevara rguevarac@hotmail.es */
/*
* { outline: 2px dotted red }
* * { outline: 2px dotted green }
* * * { outline: 2px dotted orange }
* * * * { outline: 2px dotted blue }
* * * * * { outline: 1px solid red }
* * * * * * { outline: 1px solid green }
* * * * * * * { outline: 1px solid orange }
* * * * * * * * { outline: 1px solid blue }
*/

/* BACKGROUND COLORS */
	.bg-lightgray {background-color: #e0e0e0 !important; }
	.bg-lightblue {background-color: #dcedf5 !important;}
/* TEXTS COLORS */
	.text-blue	{color: #119ef6;}
	.text-black	{color: #1c2429;}
	.text-red	{color: #dd191d;}
	.text-green	{color: #038009;}
	.text-gray	{color: #ccc;}
/* FONT SIZE´s */
	.f-12{font-size: 12px;}
	.f-14{font-size: 14px;}
	.f-16{font-size: 16px;}
	.f-18{font-size: 18px;}
	.f-24{font-size: 24px;}
/* OTHERS */
	.clear {clear: both;}
	.demo-options {top: 70px;}
	ul.demo-btns > li.pull-right{ margin-left: 4px;}
	ul.demo-btns li > label { line-height: 0.7;}
	.modal-header{padding: 10px!important}
	.tab-wizard .nav-tabs > li > a{padding: 10px!important}
/*para corregir error en scroll de ui-grid*/
.ui-grid-viewport { overflow-anchor: none;}