<div class="page page-dashboard pull-to-header">
  <ol class="breadcrumb bg-white">
    <li><a ui-sref="dashboard">Home</a></li>
    <li class="active">Informe Empresarial</li>
  </ol>
    <!-- row -->
  <div class="row">
    <!-- col -->
    <div class="col-md-12">
      <!-- tile -->
      <div class="tile">
        <!-- tile header -->
        <section class="tile-header">
          <h1 class="heading">INFORMES EMPRESARIALES</h1>
          <div class="controls">
            <div class="btn-group" uib-dropdown>
              <button class="btn btn-transparent" uib-dropdown-toggle><i class="fa fa-cog"></i></button>
              <ul class="dropdown-menu dropdown-menu-custom" uib-dropdown-menu role="menu">
                <li role="menuitem"><a href="javascript:;" minotaur-tile-minimize></a></li>
                <li role="menuitem"><a href="javascript:;" minotaur-tile-refresh></a></li>
                <li role="menuitem"><a href="javascript:;" minotaur-tile-fullscreen></a></li>
                <li role="menuitem"><a href="javascript:;" minotaur-tile-lightbox></a></li>
              </ul>
            </div>
            <minotaur-tile-close></minotaur-tile-close>
          </div>
        </section>
        <!-- /tile header -->
        <!-- tile body -->
        <!-- PANEL PRINCIPAL -->
        <section class="tile-body col-sm-12 pr-md pl-md">
        	<div class="col-sm-12 text-center">
              <div class="form-group inline-block">
                  <label for="empresa" class="control-label minotaur-label"> Empresa </label>
                  <select class="form-control input-sm" name="empresa" ng-model="vm.fParam.empresa" ng-change="vm.fParam.generarInformeEmpresarial();" 
                    ng-options="item as item.descripcion for item in vm.fData.listaEmpresas"></select> 
              </div>
              <div class="form-group inline-block">
                  <label for="inicio" class="control-label minotaur-label"> Inicio </label>
                  <input type="text" class="form-control input-sm text-center" ng-model="vm.fParam.inicio" input-mask 
                    mask-options="{alias: 'dd-mm-yyyy'}" placeholder="dd-mm-yyyy" > 
              </div>
              <div class="form-group inline-block">
                  <label for="fin" class="control-label minotaur-label"> Fin </label>
                  <input type="text" class="form-control input-sm text-center" ng-model="vm.fParam.fin" input-mask 
                    mask-options="{alias: 'dd-mm-yyyy'}" placeholder="dd-mm-yyyy" > 
              </div>
              <div class="form-group inline-block">
                  <button class="btn btn-info btn-sm" type="button" ng-click="vm.fParam.generarInformeEmpresarial();"> PROCESAR </button>
              </div>

        	</div>
          <div class="col-xs-12 b-t b-tr-black m-20"></div>
        	<div class="col-sm-12" ng-show="vm.fParam.infoVisible">
            <div class="row">
              <div class="col-sm-3">
                <div class="card-container-2">
                  <div class="card-2">
                      <div class="front-2 bg-greensea">
                        <div class="row">
                          <div class="col-xs-4">
                            <i class="fa fa-users fa-4x"></i>
                          </div>
                          <div class="col-xs-8">
                            <p class="text-xl line-xl text-strong mb-0"> {{ vm.fData.informe.pac_atendidos.cantidad }} </p>
                            <span>Pacientes atendidos</span>
                          </div>
                        </div>
                      </div>
                   </div>
                </div>
              </div>
              <div class="col-sm-4"> 
                <highchart id="chartConfigPA" config="vm.fData.informe.chartConfigPA" class="col-xs-12"></highchart> 
              </div>
              <div class="col-sm-5"> 
                <highchart id="chartConfigEdad" config="vm.fData.informe.chartConfigEdad" class="col-xs-12"></highchart> 
              </div>
            </div>
            <div class="col-xs-12 b-t b-tr-black m-20"></div>
            <div class="row">
              <div class="col-sm-4"> 
                <highchart id="chartConfigPesoIMC" config="vm.fData.informe.chartConfigPesoIMC" class="col-xs-12"></highchart> 
              </div>
              <div class="col-sm-4"> 
                <highchart id="chartConfigEdadPesoIMC" config="vm.fData.informe.chartConfigEdadPesoIMC" class="col-xs-12"></highchart>  
              </div>
              <div class="col-sm-4"> 
                <highchart id="chartConfigSexoPesoIMC" config="vm.fData.informe.chartConfigSexoPesoIMC" class="col-xs-12"></highchart> 
              </div>
	          </div>
            <div class="col-xs-12 b-t b-tr-black m-20"></div>
            <div class="row">
              <div class="col-sm-3">
                <div class="card-container-2">
                  <div class="card-2">
                      <div class="front-2 bg-greensea">
                        <div class="row">
                          <div class="col-xs-4">
                            <i class="fa fa-users fa-4x"></i>
                          </div>
                          <div class="col-xs-8">
                            <p class="text-xl line-xl text-strong mb-0"> {{ vm.fData.informe.peso_perdido.cantidad }} Kg. </p> 
                            <span>Total de peso perdido</span>
                          </div>
                        </div>
                      </div>
                   </div>
                </div>
              </div>
               <div class="col-sm-4"> 
                <highchart id="chartConfigPPS" config="vm.fData.informe.chartConfigPPS" class="col-xs-12"></highchart> 
              </div>
              <div class="col-sm-5"> 
                <highchart id="chartConfigPPE" config="vm.fData.informe.chartConfigPPE" class="col-xs-12"></highchart> 
              </div>
            </div>
					</div>
          <div class="col-sm-12" ng-hide="vm.fParam.infoVisible">
            <div class="waterMarkEmptyData" style="position:relative; top:inherit; font-size: 28px; margin-bottom: 40px; margin-top: 40px;">
              Seleccione la empresa para ver los resultados... 
            </div>
          </div>
				</section> 
        <!-- /tile body -->
      </div>
      <!-- /tile -->
    </div>
    <!-- /col -->
  </div>
  <!-- /row --> 
</div>
