<div class="nav-heading">
  <h3 class="text-center">MENÚ PRINCIPAL</h3>
</div>

<div slimscroll="{
      height: '100%',
      size: '4px',
      borderRadius: '0px',
      opacity: .2
     }">

  <ul class="nav nav-sidebar">
    <li ng-class="{'active':$state.includes('dashboard')}">
      <a ui-sref="dashboard">
        <span class="nav-text">{{ 'Menu.DASHBOARD' | translate }}</span>
        <i class="fa fa-home"></i>
      </a>
    </li>
    <li ng-class="{'open active':$state.includes('mail')}">
      <a href="javascript:;">
        <span class="nav-text">{{ 'Menu.SEGURIDAD' | translate }}</span>
        <i class="fa fa-envelope-o"></i> 
      </a>
      <ul>
        <li ui-sref-active="active">
          <a ui-sref="mail.inbox">
            <span class="nav-text">{{ 'Menu.PROFESIONALES' | translate }}</span>
            <i>{{ 'Menu.PROFESIONALES' | translate | limitTo: 2}}</i>
          </a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="mail.compose">
            <span class="nav-text">{{ 'Menu.USUARIOS' | translate }}</span>
            <i>{{ 'Menu.USUARIOS' | translate | limitTo: 2}}</i>
          </a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="mail.single">
            <span class="nav-text">{{ 'Menu.ROLES' | translate }}</span>
            <i>{{ 'Menu.ROLES' | translate | limitTo: 2}}</i>
          </a>
        </li>
      </ul>
    </li>
    <li ng-class="{'active':$state.includes('paciente')}">
      <a ui-sref="paciente">
        <span class="nav-text">{{ 'Menu.PACIENTES' | translate }}</span>
        <i class="fa fa-users"></i>
      </a>
    </li>
    <li ng-class="{'active':$state.includes('citas')}">
      <a ui-sref="citas">
        <span class="nav-text">{{ 'Menu.CITAS' | translate }}</span>
        <i class="fa fa-clock-o"></i>
      </a>
    </li>
    <li ng-class="{'active':$state.includes('empresa')}">
      <a ui-sref="empresa">
        <span class="nav-text">{{ 'Menu.EMPRESAS' | translate }}</span>
        <i class="fa fa-home"></i>
      </a>
    </li>
    <li ng-class="{'active':$state.includes('alimento')}">
      <a ui-sref="alimento">
        <span class="nav-text">{{ 'Menu.ALIMENTOS' | translate }}</span>
        <i class="fa fa-home"></i>
      </a>
    </li>
    <li ng-class="{'active':$state.includes('estadistica')}">
      <a ui-sref="estadistica">
        <span class="nav-text">{{ 'Menu.ESTADISTICAS' | translate }}</span>
        <i class="fa fa-home"></i>
      </a>
    </li>
    <li ng-class="{'active':$state.includes('informe')}">
      <a ui-sref="informe">
        <span class="nav-text">{{ 'Menu.INFORMES' | translate }}</span>
        <i class="fa fa-home"></i>
      </a>
    </li>
  </ul>
</div>
