<div class="page page-ui pull-to-header" ng-controller="ConsultasController as cons">
  <ol class="breadcrumb bg-white">
    <li><a ui-sref="dashboard">Inicio</a></li>
    <li><a ui-sref="citas">Citas</a></li>
    <li class="active">Consulta</li>
  </ol>

  <div class="row" >
    <div class="col-lg-12 col-md-12"> 
      <div class="tile">
        <!-- tile header -->
        <section class="tile-header">
          <h1 class="heading">Datos de la Consulta</h1> 
          <div class="controls">
            <div class="btn-group" uib-dropdown>
              <button class="btn btn-transparent" uib-dropdown-toggle><i class="fa fa-cog"></i></button>
              <ul class="dropdown-menu dropdown-menu-custom" uib-dropdown-menu role="menu">
                <li role="menuitem"><a href="javascript:;" minotaur-tile-minimize></a></li>
                <li role="menuitem"><a href="javascript:;" minotaur-tile-refresh ng-click=" "></a></li>
                <li role="menuitem"><a href="javascript:;" minotaur-tile-fullscreen></a></li>
                <li role="menuitem"><a href="javascript:;" minotaur-tile-lightbox></a></li>
              </ul>
            </div>
            <minotaur-tile-close></minotaur-tile-close>
          </div>
        </section>
        <!-- /tile header -->

         <!-- tile body -->
        <section class="tile-body col-lg-12 col-md-12">
          <!-- right side header -->
          <div class="col-lg-12 col-md-12 mb-10">
            <div class="pull-right">
              <button type="button" class="btn btn-red btn-sm" ng-click='vm.viewConsulta = false'>Cancelar</button>              
            </div>
          </div>
          <!-- /right side header -->
          <!-- right side body -->
          <div class="col-lg-12 col-md-12">
            <form name="outerForm" role="form" novalidate class="form-validation">
              <div class="row">
                <div class="form-horizontal col-md-12">               
                  <div class="form-group col-md-10">
                    <label class="col-sm-2 control-label minotaur-label">Paciente: </label>
                    <div class="col-sm-6">
                      <p type="text" class="form-control-static" > {{vm.event.title}}</p>
                    </div>                    
                  </div>

                  <div class="form-group col-md-2">
                    <!-- <label for="name" class="control-label minotaur-label"> <span class="text-red">*</span>: </label>
                    <input type="checkbox" required class="form-control"  />
                     -->
                     <label class="checkbox minotaur-checkbox minotaur-label">¿Embarazo? 
                      <input type="checkbox" ng-model="cons.fData.si_embarazo"><div class="input-indicator"></div>
                    </label>
                  </div>
                </div>

                <div class="form-horizontal col-md-6">
                  <legend>Composicion</legend>                
                  <div class="form-group">
                    <label class="col-sm-5 control-label minotaur-label">Estatura: </label>
                    <div class="col-sm-3">
                      <p type="text" class="form-control-static" > {{vm.event.cliente.estatura}} <strong>cm</strong></p>
                    </div>                    
                  </div>
                  <div class="form-group">
                    <label for="peso" class="col-sm-5 control-label minotaur-label">Peso <span class="text-red">*</span>: </label>
                    <div class="input-group col-sm-3">
                      <input type="text" name="peso" required class="form-control" ng-model="cons.fData.peso" />
                      <span class="input-group-addon">Kg</span>
                    </div>                    
                  </div>
                  <div class="form-group">
                    <label class="col-sm-5 control-label minotaur-label">Masa Grasa <span class="text-red">*</span>: </label>
                    <div class="input-group col-sm-6">
                      <input type="text" required class="form-control" ng-model="cons.fData.porc_masa_grasa" />
                      <span class="input-group-addon">%</span>
                      <input type="text" disabled class="form-control" />
                      <span class="input-group-addon">Kg</span>
                    </div>                    
                  </div>
                  <div class="form-group">
                    <label class="col-sm-5 control-label minotaur-label">Masa Libre de Grasa <span class="text-red">*</span>: </label>
                    <div class="input-group col-sm-6">
                      <input type="text" required class="form-control" ng-model="cons.fData.porc_masa_libre" />
                      <span class="input-group-addon">%</span>
                      <input type="text" disabled class="form-control" />
                      <span class="input-group-addon">Kg</span>
                    </div>                    
                  </div>
                  <div class="form-group">
                    <label class="col-sm-5 control-label minotaur-label">Masa Muscular <span class="text-red">*</span>: </label>
                    <div class="input-group col-sm-6">
                      <input type="text" required class="form-control" ng-model="cons.fData.porc_masa_muscular" />
                      <span class="input-group-addon">%</span>
                      <input type="text" required class="form-control" ng-model="cons.fData.kg_masa_muscular" />
                      <span class="input-group-addon">Kg</span>
                    </div>                    
                  </div>
                  <div class="form-group">
                    <label class="col-sm-5 control-label minotaur-label">Agua Corporal <span class="text-red">*</span>: </label>
                    <div class="input-group col-sm-6">
                      <input type="text" required class="form-control" ng-model="cons.fData.porc_agua_corporal" />
                      <span class="input-group-addon">%</span>
                      <input type="text" required class="form-control" ng-model="cons.fData.kg_agua_corporal" />
                      <span class="input-group-addon">Kg</span>
                    </div>                    
                  </div>
                  <div class="form-group">
                    <label class="col-sm-5 control-label minotaur-label">Grasa Visceral <span class="text-red">*</span>: </label>
                    <div class="input-group col-sm-6">
                      <input type="text" required class="form-control" ng-model="cons.fData.porc_grasa_visceral" />
                      <span class="input-group-addon">%</span>
                      <input type="text" required class="form-control" ng-model="cons.fData.kg_grasa_visceral" />
                      <span class="input-group-addon">Kg</span>
                    </div>                    
                  </div>                
                </div> 

                <div class="form-horizontal col-md-6">
                  <legend>Medidas</legend>
                  <div class="row">
                    <div class="col-md-6">  
                      <div class="form-group">
                        <label class="col-sm-5 control-label minotaur-label">Pecho: </label>
                        <div class="input-group col-sm-6">
                          <input type="text"  class="form-control" ng-model="cons.fData.cm_pecho" />
                          <span class="input-group-addon">cm</span>
                        </div>                    
                      </div>
                      <div class="form-group">
                        <label class="col-sm-5 control-label minotaur-label">Antebrazo: </label>
                        <div class="input-group col-sm-6">
                          <input type="text"  class="form-control" ng-model="cons.fData.cm_antebrazo" />
                          <span class="input-group-addon">cm</span>
                        </div>                    
                      </div>
                      <div class="form-group">
                        <label class="col-sm-5 control-label minotaur-label">Cintura: </label>
                        <div class="input-group col-sm-6">
                          <input type="text"  class="form-control" ng-model="cons.fData.cm_cintura" />
                          <span class="input-group-addon">cm</span>
                        </div>                    
                      </div>
                      <div class="form-group">
                        <label class="col-sm-5 control-label minotaur-label">Abdomen: </label>
                        <div class="input-group col-sm-6">
                          <input type="text"  class="form-control" ng-model="cons.fData.cm_abdomen" />
                          <span class="input-group-addon">cm</span>
                        </div>                    
                      </div> 
                      <div class="form-group">
                        <label class="col-sm-5 control-label minotaur-label">Cadera: </label>
                        <div class="input-group col-sm-6">
                          <input type="text"  class="form-control" ng-model="cons.fData.cm_cadera_gluteo" />
                          <span class="input-group-addon">cm</span>
                        </div>                    
                      </div>
                      <div class="form-group">
                        <label class="col-sm-5 control-label minotaur-label">Muslo: </label>
                        <div class="input-group col-sm-6">
                          <input type="text"  class="form-control" ng-model="cons.fData.cm_muslo" />
                          <span class="input-group-addon">cm</span>
                        </div>                    
                      </div>              
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="col-sm-5 control-label minotaur-label">Hombros: </label>
                        <div class="input-group col-sm-6">
                          <input type="text"  class="form-control" ng-model="cons.fData.cm_hombros" />
                          <span class="input-group-addon">cm</span>
                        </div>                    
                      </div>
                      <div class="form-group">
                        <label class="col-sm-5 control-label minotaur-label">Biceps relajado: </label>
                        <div class="input-group col-sm-6">
                          <input type="text"  class="form-control" ng-model="cons.fData.cm_biceps_relajado" />
                          <span class="input-group-addon">cm</span>
                        </div>                    
                      </div>
                      <div class="form-group">
                        <label class="col-sm-5 control-label minotaur-label">Biceps contraido: </label>
                        <div class="input-group col-sm-6">
                          <input type="text"  class="form-control" ng-model="cons.fData.cm_biceps_contraido" />
                          <span class="input-group-addon">cm</span>
                        </div>                    
                      </div>
                      <div class="form-group">
                        <label class="col-sm-5 control-label minotaur-label">Muñeca: </label>
                        <div class="input-group col-sm-6">
                          <input type="text"  class="form-control" ng-model="cons.fData.cm_muneca" />
                          <span class="input-group-addon">cm</span>
                        </div>                    
                      </div> 
                      <div class="form-group">
                        <label class="col-sm-5 control-label minotaur-label">Rodilla: </label>
                        <div class="input-group col-sm-6">
                          <input type="text"  class="form-control" ng-model="cons.fData.cm_rodilla" />
                          <span class="input-group-addon">cm</span>
                        </div>                    
                      </div> 
                      <div class="form-group">
                        <label class="col-sm-5 control-label minotaur-label">Gemelos: </label>
                        <div class="input-group col-sm-6">
                          <input type="text"  class="form-control" ng-model="cons.fData.cm_gemelos" />
                          <span class="input-group-addon">cm</span>
                        </div>                    
                      </div>
                      <div class="form-group">
                        <label class="col-sm-5 control-label minotaur-label">Tobillo: </label>
                        <div class="input-group col-sm-6">
                          <input type="text"  class="form-control" ng-model="cons.fData.cm_tobillo" />
                          <span class="input-group-addon">cm</span>
                        </div>                    
                      </div>                
                    </div>                
                  </div>        
                </div>
                                
                <div class="form-horizontal col-md-12">
                  <button type="button" class="btn btn-sm btn-green mb-10" data-toggle="collapse" data-target="#pliegues" ng-click="cons.changeToggle();">{{cons.titleToggle}}</button>
                  <div id="pliegues" class="collapse">
                    <legend>Pliegues</legend>
                    <div class="row">
                      <div class="col-md-4">  
                        <div class="form-group">
                          <label class="col-sm-5 control-label minotaur-label">Tricipital: </label>
                          <div class="input-group col-sm-6">
                            <input type="text"  class="form-control" ng-model="cons.fData.cm_tricipital" />
                            <span class="input-group-addon">cm</span>
                          </div>                    
                        </div>
                        <div class="form-group">
                          <label class="col-sm-5 control-label minotaur-label">Bicipital: </label>
                          <div class="input-group col-sm-6">
                            <input type="text"  class="form-control" ng-model="cons.fData.cm_bicipital" />
                            <span class="input-group-addon">cm</span>
                          </div>                    
                        </div>
                        <div class="form-group">
                          <label class="col-sm-5 control-label minotaur-label">Subescapular: </label>
                          <div class="input-group col-sm-6">
                            <input type="text"  class="form-control" ng-model="cons.fData.cm_subescapular" />
                            <span class="input-group-addon">cm</span>
                          </div>                    
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-5 control-label minotaur-label">Axilar: </label>
                            <div class="input-group col-sm-6">
                              <input type="text"  class="form-control" ng-model="cons.fData.cm_axilar" />
                              <span class="input-group-addon">cm</span>
                            </div>                    
                          </div> 
                          <div class="form-group">
                            <label class="col-sm-5 control-label minotaur-label">Pectoral: </label>
                            <div class="input-group col-sm-6">
                              <input type="text"  class="form-control" ng-model="cons.fData.cm_pectoral" />
                              <span class="input-group-addon">cm</span>
                            </div>                    
                          </div>
                          <div class="form-group">
                            <label class="col-sm-5 control-label minotaur-label">Suprailiaco: </label>
                            <div class="input-group col-sm-6">
                              <input type="text"  class="form-control" ng-model="cons.fData.cm_suprailiaco" />
                              <span class="input-group-addon">cm</span>
                            </div>                    
                          </div>
                      </div>                                
                      
                      <div class="col-md-4">                    
                        <div class="form-group">
                          <label class="col-sm-5 control-label minotaur-label">Supraespinal: </label>
                          <div class="input-group col-sm-6">
                            <input type="text"  class="form-control" ng-model="cons.fData.cm_supraespinal" />
                            <span class="input-group-addon">cm</span>
                          </div>                    
                        </div>
                        <div class="form-group">
                          <label class="col-sm-5 control-label minotaur-label">Abdominal: </label>
                          <div class="input-group col-sm-6">
                            <input type="text"  class="form-control" ng-model="cons.fData.cm_abdominal" />
                            <span class="input-group-addon">cm</span>
                          </div>                    
                        </div>
                        <div class="form-group">
                          <label class="col-sm-5 control-label minotaur-label">Pierna: </label>
                          <div class="input-group col-sm-6">
                            <input type="text"  class="form-control" ng-model="cons.fData.cm_pierna" />
                            <span class="input-group-addon">cm</span>
                          </div>                    
                        </div>            
                      </div>                
                    </div>        
                  </div>        
                </div>
                </div>
                                        
              </div>
            </form>
          </div>
          <!-- /right side body -->
        </section>
      </div>
      
     </div>
  </div>  
</div> 
