<form class="form-horizontal" role="form">
	<div class="tile col-sm-12">
		<div class="row">
			<div class="col-sm-8">
				<div class="row">
	    			<h4 class="custom-font text-info f-16 col-sm-12">Evolución</h4>
	    			<div class="btn-toolbar mb-10 col-sm-12" role="toolbar">
		                <div class="btn-group btn-group-rounded-20">
		                  <button type="button" class="btn btn-default" ng-model="pac.evoRadio" uib-btn-radio="'Peso'">Peso</button>
		                  <button type="button" class="btn btn-default" ng-model="pac.evoRadio" uib-btn-radio="'IMC'">IMC</button>
		                  <button type="button" class="btn btn-default" ng-model="pac.evoRadio" uib-btn-radio="'Otro'">Otro</button>
		                </div>
		            </div>



				  	<div  class="col-sm-12" ng-show="pac.sinGrafico"
				  		style="background: url('assets/images/evolucion_des.jpg') no-repeat;
						min-height: 350px;
						text-align: center;
						opacity: 0.8;

						">
						<span style="position: relative;
						top: 70px;
						font-size: 20px;
						color: rgba(224, 35, 35, 0.86);
						font-style: italic;">Para ver el gráfico, debes de generar al menos 2 consultas con las cuales comparar</span>
				  	</div>

					<div class=" col-sm-12" ng-if="pac.evoRadio == 'Peso' && !pac.sinGrafico">
					  	<hc-chart ng-if="pac.chartOptions1" id="chartOptions1" style="width: 100%;" options="pac.chartOptions1"> GRAFICO XD </hc-chart>
					</div>
					<div class=" col-sm-12" ng-if="pac.evoRadio == 'IMC' && !pac.sinGrafico">
					  	<hc-chart ng-if="pac.chartOptions2" id="chartOptions2" style="width: 100%;" options="pac.chartOptions2"> GRAFICO XD </hc-chart>
					</div>
					<div class=" col-sm-12" ng-show="pac.evoRadio == 'Otro'">
					  	Diagrama en Processo
					</div>
				</div>

			</div>
			<!-- PANEL DE VISTA PREVIA - LATERAL DERECHO -->
		        <section class="tile-body col-sm-4">
		          <div class="tile profile-widget">

		            <!-- tile widget -->
		            <section class="tile-widget bg-info" style="min-height: 145px;">
		              <img class="img-circle profile-avatar" src="assets/images/sin-imagen.png" alt="" ng-if="pac.mySelectionGrid.length < 1">
		              <img class="img-circle profile-avatar" ng-src="assets/images/dinamic/pacientes/{{pac.mySelectionGrid[0].nombre_foto}}" alt="" ng-show="pac.mySelectionGrid.length >= 1">
		              <div class="row mt-30">
		                <div class="col-md-12 text-center">
		                  <h4 class="text-uppercase m-0">{{pac.mySelectionGrid[0].nombre}}</h4>
		                  <small class="uppercase-bold text-strong text-transparent-black">{{pac.mySelectionGrid[0].apellidos}}</small>
		                </div>
		                <div class="col-md-12 text-center" ng-if = "pac.mySelectionGrid.length == 1">
		                  <small class="text-transparent-black">Ultima visita : {{pac.mySelectionGrid[0].ultima_visita}}</small>
		                </div>
		              </div>
		              <div class="divider mt-10"></div>
		            </section>
		            <!-- /tile widget -->

		            <!-- tile body -->
		            <section class="tile-body bg-info" style="min-height: 166px;">
		              <dl class="dl-horizontal" ng-if="pac.mySelectionGrid.length == 1 && pac.previo0">
		                <dt style="width: 80px; padding: 3px 0;">Edad: </dt>
		                <dd style="margin-left: 90px; padding: 3px 0;">{{pac.mySelectionGrid[0].edad}}</dd>
		                <!-- <dt style="width: 80px; padding: 3px 0;">Sexo: </dt>
		                <dd style="margin-left: 90px; padding: 3px 0;">{{pac.mySelectionGrid[0].sexo_desc}}</dd> -->
		                <dt style="width: 80px; padding: 3px 0;">Cargo Lab.: </dt>
		                <dd style="margin-left: 90px; padding: 3px 0;">{{pac.mySelectionGrid[0].cargo_laboral}}</dd>
		                <dt style="width: 80px; padding: 3px 0;">Celular: </dt>
		                <dd style="margin-left: 90px; padding: 3px 0;">{{pac.mySelectionGrid[0].celular}}</dd>
		                <dt style="width: 80px; padding: 3px 0;">Nacimiento: </dt>
		                <dd style="margin-left: 90px; padding: 3px 0;">{{pac.mySelectionGrid[0].fecha_nacimiento_st}}</dd>
		              </dl>
		              <dl class="dl-horizontal" ng-if="pac.mySelectionGrid.length == 1 && pac.previo1">
		                <dt style="width: 80px; padding: 3px 0;">Peso: </dt>
		                <dd style="margin-left: 90px; padding: 3px 0;">{{pac.mySelectionGrid[0].peso}} kg.</dd>
		                <dt style="width: 80px; padding: 3px 0;">IMC: </dt>
		                <dd style="margin-left: 90px; padding: 3px 0;">{{pac.mySelectionGrid[0].imc}}</dd>
		                <dt style="width: 80px; padding: 3px 0;">Objetivo: </dt>
		              </dl>
		              <dl class="dl-horizontal" ng-if="pac.mySelectionGrid.length == 1 && pac.previo2">
		                <dd style="margin-left: 25px; padding: 3px 0;" ng-repeat="item in pac.listaUltAntecedentes">{{item.antecedente}}</dd>
		              </dl>
		              <div class="f-24 text-center" ng-if="pac.mySelectionGrid.length < 1">Seleccione un paciente</div>
		            </section>
		            <!-- /tile body -->

		            <!-- tile footer -->
		            <section class="tile-footer p-0">
		              <uib-tabset class="minotaur-tab minotaur-tab-info">
		                <uib-tab index="0" heading="Datos Gen." ng-click="pac.verPrevio(0)">
		                </uib-tab>
		                <uib-tab index="1" heading="Evolución" ng-click="pac.verPrevio(1)">
		                </uib-tab>
		                <uib-tab index="2" heading="Ult.Antec." ng-click="pac.verPrevio(2)">

		                </uib-tab>
		              </uib-tabset>
		            </section>
		            <!-- /tile footer -->

		          </div>
		        </section>
		</div>

    </div>
</form>
