<div class="modal-header">
  <h4 class="modal-title">{{modalPac.modalTitle}}</h4>
</div>
<div class="modal-body">
	<section class="tile-body p-0">
		<form name="formCliente" role="form" novalidate class="form-validation">
		    <uib-tabset active="modalPac.activeStep" justified="true" class="tab-wizard padded">
			    <uib-tab index="0">
			        <uib-tab-heading>
			          <i class="fa fa-check" ng-if="step1.$valid"></i>
			          Datos Principales
			          <span class="pull-right wizard-step">1</span>
			        </uib-tab-heading>
			        <ng-form name="step1">
			          <div class="row">
			            <div class="form-group col-md-6">
			              <label for="nombre" class="control-label minotaur-label">Nombres <small class="text-red">(*)</small> </label>
			              <input type="text" name="nombre" id="nombre" class="form-control" ng-model="modalPac.fData.nombre" placeholder="Registre nombre del paciente" required>
			              <div ng-messages="step1.name.$error" ng-if="step1.nombre.$dirty" role="alert" class="help-block text-red">
			                <div ng-messages-include="app/components/templates/messages_tmpl.html"></div>
			              </div>
			            </div>

			            <div class="form-group col-md-6">
			              <label for="apellidos" class="control-label minotaur-label">Apellidos <small class="text-red">(*)</small> </label>
			              <input type="text" name="apellidos" id="apellidos" class="form-control" ng-model="modalPac.fData.apellidos" placeholder="Registre apellidos del paciente" required>
			              <div ng-messages="step1.apellidos.$error" ng-if="step1.apellidos.$dirty" role="alert" class="help-block text-red">
			                <div ng-messages-include="app/components/templates/messages_tmpl.html"></div>
			              </div>
			            </div>
			          </div>
			          <div class="row">
			            <div class="form-group col-md-3">
			              <label for="fecha" class="control-label minotaur-label">Fecha Nacimiento <small class="text-red">(*)</small> </label>
			              <input type="text" name="fecha" id="fecha" class="form-control" ng-model="modalPac.fData.fecha_nacimiento" placeholder="DD-MM-YYYY" ng-pattern="/(0[1-9]|1[0-9]|2[0-9]|3[01])-(0[1-9]|1[012])-[0-9]{4}$/" required>
			              <div ng-messages="step1.fecha.$error" ng-if="step1.fecha.$dirty" role="alert" class="help-block text-red">
			                <div ng-messages-include="app/components/templates/messages_tmpl.html"></div>
			              </div>
			            </div>
			            <div class="form-group col-md-3">
			              <label for="sexo" class="control-label minotaur-label">Sexo <small class="text-red">(*)</small> </label>
			              <select class="form-control" ng-model="modalPac.fData.sexo" ng-options="item.id as item.descripcion for item in modalPac.listaSexos" required > </select>

			              <div ng-messages="step1.sexo.$error" ng-if="step1.sexo.$dirty" role="alert" class="help-block text-red">
			                <div ng-messages-include="app/components/templates/messages_tmpl.html"></div>
			              </div>
			            </div>

			            <div class="form-group col-md-3">
			              <label for="tipocliente" class="control-label minotaur-label">Tipo de Paciente <small class="text-red">(*)</small> </label>
			              <select class="form-control" ng-model="modalPac.fData.idtipocliente" ng-options="item.id as item.descripcion for item in modalPac.listaTiposClientes" required > </select>

			              <div ng-messages="step1.tipocliente.$error" ng-if="step1.tipocliente.$dirty" role="alert" class="help-block text-red">
			                <div ng-messages-include="app/components/templates/messages_tmpl.html"></div>
			              </div>
			            </div>

			            <div class="form-group col-md-3">
			              <label for="empresa" class="control-label minotaur-label">Empresa <small class="text-red">(*)</small> </label>
			              <select class="form-control" ng-model="modalPac.fData.idempresa" ng-options="item.id as item.descripcion for item in modalPac.listaEmpresas" required > </select>

			              <div ng-messages="step1.empresa.$error" ng-if="step1.empresa.$dirty" role="alert" class="help-block text-red">
			                <div ng-messages-include="app/components/templates/messages_tmpl.html"></div>
			              </div>
			            </div>
			          </div>
								<div class="row">
									<div class="form-group col-md-3">
										<label class="control-label mb-xs">Foto del Paciente </label>
										<input type="file" class="filestyle" filestyle="{
								            buttonText: 'Select file',
								            iconName: 'fa fa-inbox'
								          }" nv-file-select="" uploader="forms.uploader">
									</div>
									<div class="form-group col-md-3">
			              <label for="motivo" class="control-label minotaur-label">Motivo consulta <small class="text-red">(*)</small> </label>
			              <select class="form-control" ng-model="modalPac.fData.idmotivoconsulta" ng-options="item.id as item.descripcion for item in modalPac.listaMotivos" required > </select>

			              <div ng-messages="step1.motivo.$error" ng-if="step1.motivo.$dirty" role="alert" class="help-block text-red">
			                <div ng-messages-include="app/components/templates/messages_tmpl.html"></div>
			              </div>
						      </div>
								</div>
								<div class="row">
									<div class="form-group col-md-12">
			          		<button ng-disabled="step1.$invalid" class="btn btn-default minotaur-btn pull-right" ng-click="modalPac.activeStep = 1">Siguiente</button> 
			          	</div>
			          </div>
			        </ng-form>
			    </uib-tab>
		      <uib-tab index="1" disable="step1.$invalid">
						<uib-tab-heading>
		          <i class="fa fa-check" ng-if="step2.$valid"></i>
		          Datos Adicionales
		          <span class="pull-right wizard-step">2</span>
			      </uib-tab-heading>
		        <ng-form name="step2">
	          	<div class="row">
		            <div class="form-group col-md-6">
		              	<label for="email" class="control-label minotaur-label">Email <small class="text-red">(*)</small> </label>
		              	<input type="email" name="email" id="email" class="form-control" ng-model="modalPac.fData.email" placeholder="micorreo@dominio.com" required>
		              	<div ng-messages="step2.email.$error" ng-if="step2.email.$dirty" role="alert" class="help-block text-red">
		                	<div ng-messages-include="app/components/templates/messages_tmpl.html"></div>
		              	</div>
		            </div>
		            <div class="form-group col-md-6">
		              	<label for="celular" class="control-label minotaur-label">Celular <small class="text-red">(*)</small> </label>
		              	<input type="text" name="celular" id="celular" class="form-control" ng-model="modalPac.fData.celular" placeholder="XXX XXXX XXX"  ng-pattern="/([0-9]{3}) ([0-9]{3}) ([0-9]{3})$/" required>
		              	<div ng-messages="step2.celular.$error" ng-if="step2.celular.$dirty" role="alert" class="help-block text-red">
		                	<div ng-messages-include="app/components/templates/messages_tmpl.html"></div>
		              	</div>
		            </div>
	          	</div>
		          <div class="form-group">
		            <label for="cargo" class="control-label minotaur-label">Cargo Laboral </label>
		            <input type="text" name="cargo" id="cargo" class="form-control" ng-model="modalPac.fData.cargo_laboral" placeholder="Registre el cargo laboral (opcional)">
		          </div>
		          <div class="row">
									<div class="form-group col-md-12">
					          <button class="btn btn-default minotaur-btn" ng-click="modalPac.activeStep = 0">Anterior</button>
					          <button ng-disabled="step2.$invalid" class="btn btn-default minotaur-btn pull-right" ng-click="modalPac.activeStep = 2">Siguiente</button>
					        </div>
					    </div>
		        </ng-form>
		      </uib-tab>
	      	<uib-tab index="2" disable="step2.$invalid">
		        <uib-tab-heading>
		          <i class="fa fa-check" ng-if="step3.$valid"></i>
		          Datos Médicos
		          <span class="pull-right wizard-step">3</span>
		        </uib-tab-heading>
		        <ng-form name="step3">
		        	<div class="row">
		        		 <div class="form-group col-md-6">
				            <label for="alergias" class="control-label minotaur-label">Alergias: </label>
				            <textarea class="form-control" rows="5" name="alergias" id="alergias" placeholder="Registre las alergias..." ng-model="modalPac.fData.alergias_ia"></textarea>
				        </div>
				        <div class="form-group col-md-6">
				            <label for="medicamentos" class="control-label minotaur-label">Medicamentos: </label>
				            <textarea class="form-control" rows="5" name="medicamentos" id="medicamentos" placeholder="Registra tus medicamentos..." ng-model="modalPac.fData.medicamentos"></textarea>
				        </div>
		        	</div>
		          <div class="row">
				        <div class="form-group col-md-6">
				            <label for="antecedentes" class="control-label minotaur-label">Antecedentes: </label>
				            <textarea class="form-control" rows="5" name="antecedentes" id="antecedentes" placeholder="Escribe tus antecedentes..." ng-model="modalPac.fData.antecedentes_notas"></textarea>
				        </div>
				        <div class="form-group col-md-6">
				            <label for="habitos" class="control-label minotaur-label">Hábitos: </label>
				            <textarea class="form-control" rows="5" name="habitos" id="habitos" placeholder="Escribe tus hábitos..." ng-model="modalPac.fData.habitos_notas"></textarea>
				        </div>
		          </div>
			        <!-- <button class="btn btn-default minotaur-btn" ng-click="modalPac.activeStep = 1">Anterior</button>
			        <button ng-disabled="step5.$invalid" class="btn btn-success minotaur-btn pull-right" ng-click="modalPac.aceptar()">Finalizar</button> -->
		        </ng-form>
	      	</uib-tab> 
		    </uib-tabset>
		</form>
	</section>
</div>
<div class="modal-footer">
  <button class="btn btn-success btn-ef btn-ef-3 btn-ef-3c" ng-disabled="formCliente.$invalid" ng-click="modalPac.aceptar()"><i class="fa fa-arrow-right"></i> Submit</button>
  <button class="btn btn-lightred btn-ef btn-ef-4 btn-ef-4c" ng-click="modalPac.cancel()"><i class="fa fa-arrow-left"></i> Cancel</button>
</div>