<div class="page page-ui pull-to-header">
  <ol class="breadcrumb bg-white">
    <li><a ui-sref="dashboard">Inicio</a></li>
    <li class="active">Citas</li>
  </ol>
  <!-- row -->
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <div class="tile">
        <!-- tile header -->
        <section class="tile-header">
          <h1 class="heading">Citas</h1> 
          <div class="controls">
            <div class="btn-group" uib-dropdown>
              <button class="btn btn-transparent" uib-dropdown-toggle><i class="fa fa-cog"></i></button>
              <ul class="dropdown-menu dropdown-menu-custom" uib-dropdown-menu role="menu">
                <li role="menuitem"><a href="javascript:;" minotaur-tile-minimize></a></li>
                <li role="menuitem"><a href="javascript:;" minotaur-tile-refresh ng-click=" "></a></li>
                <li role="menuitem"><a href="javascript:;" minotaur-tile-fullscreen></a></li>
                <li role="menuitem"><a href="javascript:;" minotaur-tile-lightbox></a></li>
              </ul>
            </div>
            <minotaur-tile-close></minotaur-tile-close>
          </div>
        </section>
        <!-- /tile header -->

         <!-- tile body -->
        <section class="tile-body col-lg-12 col-md-12">
          <!-- right side header -->
          <div class="col-lg-12 col-md-12 mb-10">
            <div class="pull-right">
              <button type="button" class="btn btn-sm btn-default" ng-click="vm.today()">Hoy</button>
              <div class="btn-group">
                <button class="btn btn-default btn-sm" ng-click="vm.changeView('agendaDay', 'calendarCitas')">Dia</button>
                <button class="btn btn-default btn-sm" ng-click="vm.changeView('agendaWeek', 'calendarCitas')">Semana</button>
                <button class="btn btn-default btn-sm" ng-click="vm.changeView('month', 'calendarCitas')">Mes</button>
              </div>
              <button type="button" class="btn btn-success btn-sm" ng-click='vm.btnCita()'>Nueva Cita</button>              
            </div>
          </div>
          <!-- /right side header -->
          <!-- right side body -->
          <div class="col-lg-12 col-md-12">
            <div class="fc-overlay">
              <div class="panel b-solid">
                <h5 class="text-default-dark mt-0">Paciente: {{vm.event.title}}</h5>
                <div class="my-dropdown">
                  <ul class="" role="menu">
                    <li role="menuitem">
                      <a><i class="fa fa-user"></i>Ir al Paciente</a>
                    </li>
                    <li role="menuitem" ng-if="!vm.event.atencion.idatencion" >
                      <a href="#/app/consulta"><i class="fa fa-check-square-o"></i>Generar Consulta</a>
                    </li>
                    <li role="menuitem" ng-if="!vm.event.atencion.idatencion" ng-click="vm.btnEditCita(vm.event)">
                      <a ><i class="fa fa-calendar"></i>Modificar Cita</a>
                    </li>
                    <li role="menuitem" ng-if="!vm.event.atencion.idatencion" ng-click="vm.btnAnular(vm.event)">
                      <a ><i class="fa fa-remove"></i>Anular Cita</a>
                    </li>
                    <li role="menuitem" ng-if="vm.event.atencion.idatencion">
                      <a ><i class="fa fa-pencil-square-o"></i>Ir a Consulta</a>
                    </li>
                    <li role="menuitem" ng-if="vm.event.atencion.idatencion">
                      <a ><i class="fa fa-remove"></i>Anular Consulta</a>
                    </li>
                  </ul>
                </div>
              </div>
              
            </div>
            <!-- <div class="my-dropdown dropdown open">
              <ul class="dropdown-menu dropdown-menu-custom" uib-dropdown-menu="" role="menu">
                <li role="menuitem">
                  <a><i class="fa fa-user"></i>Ir al Paciente</a>
                </li>
                <li role="menuitem" ng-if="!vm.event.atencion.idatencion" ng-click="vm.btnGenerarConsulta(vm.event)">
                  <a ><i class="fa fa-check-square-o"></i>Generar Consulta</a>
                </li>
                <li role="menuitem" ng-if="!vm.event.atencion.idatencion" ng-click="vm.btnEditCita(vm.event)">
                  <a ><i class="fa fa-calendar"></i>Modificar Cita</a>
                </li>
                <li role="menuitem" ng-if="!vm.event.atencion.idatencion" ng-click="vm.btnAnular(vm.event)">
                  <a ><i class="fa fa-remove"></i>Anular Cita</a>
                </li>
                <li role="menuitem" ng-if="vm.event.atencion.idatencion">
                  <a ><i class="fa fa-pencil-square-o"></i>Ir a Consulta</a>
                </li>
                <li role="menuitem" ng-if="vm.event.atencion.idatencion">
                  <a ><i class="fa fa-remove"></i>Anular Consulta</a>
                </li>
              </ul>
            </div> -->
            <div class="calendar" ng-model="vm.eventSources" calendar="calendarCitas" ui-calendar="vm.uiConfig.calendar"></div>
          </div>
          <!-- /right side body -->
        </section>
      </div>
      <!-- /right side -->
    </div>
  </div>  
</div>
